<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">Añade una Empresa</h4>
          <p class="category">(describir un poco ???)</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Nombre de la empresa</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Nombre de contacto</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-4">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Email</label>
                  <input type="email" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Telefono Fijo</label>
                  <input type="tel" class="form-control">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Celular</label>
                  <input type="tel" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2 col-md-5">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Dirección</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Zona</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-2">
                <button type="button" class="btn btn-success">
                  Guardar
                </button>
                <button type="button" class="btn btn-danger">
                  Cancelar
                </button>
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
